.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-8B1REFekoKbI);
  font-size: var(--token-HkSudWgi1gPE);
  line-height: var(--token-oH1x8W4831Qk);
  width: 100%;
  color: var(--token-Uo1mx7Mi8-gI);
  font-family: var(--token-NqUp9UrqY3Gj);
  min-width: 0;
  border-radius: var(--token-jT_yZ8eiXxvF);
  padding: var(--token-jT_yZ8eiXxvF) var(--token-KAuriprMRACF);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-tFtgN2EQoETh);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-DAJ5nBiRPkKW);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-S7AiZKqQaajT);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-DAJ5nBiRPkKW);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-1k4WIsOyOXH5);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-1k4WIsOyOXH5);
}
