.resultPage {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.resultPage > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .resultPage > * {
    grid-column: 4;
  }
}
.h1__btRhu {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__btRhu {
    margin-top: 20px;
  }
}
.h2 {
  text-align: center;
  font-family: "IRANSansX";
}
.h1__dYo5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  min-width: 0;
}
.h5 {
  text-align: right;
  margin: 50px 0px 0px;
}
.freeBox__flckf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zd0Af {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1___3Zr9G {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: center;
  min-width: 0;
}
.button__icVbm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin: 30px 0px 0px;
}
.svg___1Mv5C {
  position: relative;
  height: 1em;
}
.text__tzd6Z {
  white-space: pre;
  font-family: "IRANSansX";
}
.svg__rcvgY {
  position: relative;
  height: 1em;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__a4Jgn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__jycky {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__sFkLu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: right;
  line-height: 2;
  min-width: 0;
  margin: 20px 0px 0px;
}
.freeBox___0OPbo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h6__t4UZd {
  font-family: "IRANSansX";
}
.button__nbjDr:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin: 30px 0px 0px;
}
.svg___910Yr {
  position: relative;
  height: 1em;
}
.text__mdMi9 {
  white-space: pre;
  font-family: "IRANSansX";
}
.svg__vxLYb {
  position: relative;
  height: 1em;
}
.text__haS5Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: right;
  line-height: 2;
  min-width: 0;
  margin: 20px 0px 0px;
}
.freeBox__zQXn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h6__qd7R2 {
  font-family: "IRANSansX";
}
.button__qz6Qk:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin: 30px 0px 0px;
}
.svg__kOm7B {
  position: relative;
  height: 1em;
}
.text__ug8Z6 {
  white-space: pre;
  font-family: "IRANSansX";
}
.svg__lslOj {
  position: relative;
  height: 1em;
}
.text__hjUet {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: right;
  line-height: 2;
  min-width: 0;
  margin: 20px 0px 0px;
}
.freeBox__eRwBe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h6__cOf6G {
  font-family: "IRANSansX";
}
.button__ffKbR:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin: 30px 0px 0px;
}
.svg__gmIHl {
  position: relative;
  height: 1em;
}
.text___8TLw1 {
  white-space: pre;
  font-family: "IRANSansX";
}
.svg__t1LtH {
  position: relative;
  height: 1em;
}
.text___8340T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: right;
  line-height: 2;
  min-width: 0;
  margin: 20px 0px 0px;
}
.freeBox__jZhlb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h6__inb3D {
  font-family: "IRANSansX";
}
.button__wE4C8:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin: 30px 0px 0px;
}
.svg__e3Uo9 {
  position: relative;
  height: 1em;
}
.text__ff1Pv {
  white-space: pre;
  font-family: "IRANSansX";
}
.svg___4FjXt {
  position: relative;
  height: 1em;
}
.text___7NrDr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: right;
  line-height: 2;
  min-width: 0;
  margin: 20px 0px 0px;
}
