@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-H4DSnrd6Gty7: 0.25rem;
  --plasmic-token-size-4: var(--token-H4DSnrd6Gty7);
  --token-1k4WIsOyOXH5: 2rem;
  --plasmic-token-size-32: var(--token-1k4WIsOyOXH5);
  --token-KAuriprMRACF: 0.625rem;
  --plasmic-token-size-10: var(--token-KAuriprMRACF);
  --token-jT_yZ8eiXxvF: 0.375rem;
  --plasmic-token-size-6: var(--token-jT_yZ8eiXxvF);
  --token-mCpZZWj8Gtxo: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-mCpZZWj8Gtxo);
  --token-Uo1mx7Mi8-gI: #030712;
  --plasmic-token-basic-text-primary: var(--token-Uo1mx7Mi8-gI);
  --token-NqUp9UrqY3Gj: Inter;
  --plasmic-token-sans-serif: var(--token-NqUp9UrqY3Gj);
  --token-HkSudWgi1gPE: 1rem;
  --plasmic-token-font-md: var(--token-HkSudWgi1gPE);
  --token-oH1x8W4831Qk: 1.25;
  --plasmic-token-line-height-md: var(--token-oH1x8W4831Qk);
  --token-m0Jruh6M4sDK: 0.75rem;
  --plasmic-token-font-sm: var(--token-m0Jruh6M4sDK);
  --token-xlrt9Teq0HCF: 1;
  --plasmic-token-line-height-sm: var(--token-xlrt9Teq0HCF);
  --token-PvKgCMhXmykU: 1.25rem;
  --plasmic-token-font-lg: var(--token-PvKgCMhXmykU);
  --token-azXOEe5V_2-R: 1.4;
  --plasmic-token-line-height-lg: var(--token-azXOEe5V_2-R);
  --token-7puNSoniThtC: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-7puNSoniThtC);
  --token-8B1REFekoKbI: #d1d5db;
  --plasmic-token-basic-border: var(--token-8B1REFekoKbI);
  --token-DAJ5nBiRPkKW: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-DAJ5nBiRPkKW);
  --token-S7AiZKqQaajT: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-S7AiZKqQaajT);
  --token-6vg8Lh9hkzkU: 0.125rem;
  --plasmic-token-size-2: var(--token-6vg8Lh9hkzkU);
  --token-tFtgN2EQoETh: #2563eb;
  --plasmic-token-brand-brand: var(--token-tFtgN2EQoETh);
  --token-Jypu09L-GXwN: 0.5rem;
  --plasmic-token-size-8: var(--token-Jypu09L-GXwN);
  --token-ZPiiUk5pxpaL: #374151;
  --plasmic-token-neutral-neutral: var(--token-ZPiiUk5pxpaL);
  --token-Lf6K6SvHnfWN: #6b7280;
  --plasmic-token-muted-muted: var(--token-Lf6K6SvHnfWN);
  --token-9rkyynCSyMwh: #16a34a;
  --plasmic-token-success-success: var(--token-9rkyynCSyMwh);
  --token-DLiTWt68I4nY: #facc15;
  --plasmic-token-warning-warning: var(--token-DLiTWt68I4nY);
  --token-gFMCCgX0mHf5: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-gFMCCgX0mHf5);
  --token-S6Tc2sou_N8x: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-S6Tc2sou_N8x);
  --token-W7NqYZQ2cEEr: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-W7NqYZQ2cEEr);
  --token-As9oVfB8SkoD: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-As9oVfB8SkoD);
  --token-8se_IK54UR5S: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-8se_IK54UR5S);
  --token-dhqM-JiXuUF0: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-dhqM-JiXuUF0);
  --token-ZUJq_jSECXsr: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-ZUJq_jSECXsr);
  --token-QWhH9PwMrENC: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-QWhH9PwMrENC);
  --token-W9nD_foj6Czb: #86efac;
  --plasmic-token-success-success-border: var(--token-W9nD_foj6Czb);
  --token-PtukRiWzTvEk: #fde047;
  --plasmic-token-warning-warning-border: var(--token-PtukRiWzTvEk);
  --token-E828NdG8MJuP: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-E828NdG8MJuP);
  --token-qtZy_Bo8mi2p: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-qtZy_Bo8mi2p);
  --token--P1JVJUqqN-s: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token--P1JVJUqqN-s);
  --token-smcxkeUmJOG3: #00000033;
  --plasmic-token-interaction-pressed: var(--token-smcxkeUmJOG3);
  --token-wtOsEEQhbQlZ: 0.75rem;
  --plasmic-token-size-12: var(--token-wtOsEEQhbQlZ);
  --token-dgt69HH1Usg7: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-dgt69HH1Usg7);
  --token-0v8VoeuO_gfA: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-0v8VoeuO_gfA);
  --token-e3r7qUvncrtR: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-e3r7qUvncrtR);
  --token-0iptEQZtPc5T: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-0iptEQZtPc5T);
  --token-9CERVWlCmPGJ: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-9CERVWlCmPGJ);
  --token-6psPc_DV_bwT: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-6psPc_DV_bwT);
  --token-LUPcmQNAz2KM: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-LUPcmQNAz2KM);
  --token-uuz4f4e36JSW: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-uuz4f4e36JSW);
  --token-5mIK7OR9dgdi: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-5mIK7OR9dgdi);
  --token--GnlB4QZBYDZ: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token--GnlB4QZBYDZ);
  --token-q_d34pwMB91S: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-q_d34pwMB91S);
  --token-20Azr1xtSaqw: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-20Azr1xtSaqw
  );
  --token-ZAkBlkUXIZAr: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-ZAkBlkUXIZAr);
  --token-DNOQ0BYeoouL: #ffffff;
  --plasmic-token-basic-container-background: var(--token-DNOQ0BYeoouL);
  --token-IQrWTlRLMCrK: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-IQrWTlRLMCrK);
  --token-sAbpS4nfa-Wx: 1.25rem;
  --plasmic-token-size-20: var(--token-sAbpS4nfa-Wx);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-G49mVgQ1XY56_font-family: "Inter", sans-serif;
  --mixin-G49mVgQ1XY56_font-size: 16px;
  --mixin-G49mVgQ1XY56_font-weight: 400;
  --mixin-G49mVgQ1XY56_font-style: normal;
  --mixin-G49mVgQ1XY56_color: #535353;
  --mixin-G49mVgQ1XY56_text-align: left;
  --mixin-G49mVgQ1XY56_text-transform: none;
  --mixin-G49mVgQ1XY56_line-height: 1.5;
  --mixin-G49mVgQ1XY56_letter-spacing: normal;
  --mixin-G49mVgQ1XY56_white-space: pre-wrap;
  --mixin-G49mVgQ1XY56_user-select: text;
  --mixin-G49mVgQ1XY56_text-decoration-line: none;
  --mixin-G49mVgQ1XY56_text-overflow: clip;
  --mixin-FxHbl0YY4tcZ_color: #000000;
  --mixin-FxHbl0YY4tcZ_font-weight: 700;
  --mixin-FxHbl0YY4tcZ_font-size: 64px;
  --mixin-FxHbl0YY4tcZ_line-height: 1;
  --mixin-FxHbl0YY4tcZ_letter-spacing: -1px;
  --mixin-FxHbl0YY4tcZ_white-space: pre-wrap;
  --mixin-a7iPiaQOLU11_color: #000000;
  --mixin-a7iPiaQOLU11_font-size: 48px;
  --mixin-a7iPiaQOLU11_font-weight: 700;
  --mixin-a7iPiaQOLU11_letter-spacing: -0.5px;
  --mixin-a7iPiaQOLU11_line-height: 1.1;
  --mixin-a7iPiaQOLU11_white-space: pre-wrap;
  --mixin-A5kyPylK7DdD_color: #0070f3;
  --mixin-A5kyPylK7DdD_white-space: pre-wrap;
  --mixin-D-Pztd-CvwGi_color: #000000;
  --mixin-D-Pztd-CvwGi_font-size: 32px;
  --mixin-D-Pztd-CvwGi_font-weight: 600;
  --mixin-D-Pztd-CvwGi_line-height: 1.2;
  --mixin-D-Pztd-CvwGi_white-space: pre-wrap;
  --mixin-m1o8lBwfaK9v_color: #000000;
  --mixin-m1o8lBwfaK9v_font-size: 24px;
  --mixin-m1o8lBwfaK9v_font-weight: 600;
  --mixin-m1o8lBwfaK9v_line-height: 1.3;
  --mixin-m1o8lBwfaK9v_white-space: pre-wrap;
  --mixin-DFNynPVngUO3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DFNynPVngUO3_border-bottom-color: #dddddd;
  --mixin-DFNynPVngUO3_border-bottom-style: solid;
  --mixin-DFNynPVngUO3_border-bottom-width: 1px;
  --mixin-DFNynPVngUO3_border-left-color: #dddddd;
  --mixin-DFNynPVngUO3_border-left-style: solid;
  --mixin-DFNynPVngUO3_border-left-width: 1px;
  --mixin-DFNynPVngUO3_border-right-color: #dddddd;
  --mixin-DFNynPVngUO3_border-right-style: solid;
  --mixin-DFNynPVngUO3_border-right-width: 1px;
  --mixin-DFNynPVngUO3_border-top-color: #dddddd;
  --mixin-DFNynPVngUO3_border-top-style: solid;
  --mixin-DFNynPVngUO3_border-top-width: 1px;
  --mixin-DFNynPVngUO3_border-bottom-left-radius: 3px;
  --mixin-DFNynPVngUO3_border-bottom-right-radius: 3px;
  --mixin-DFNynPVngUO3_border-top-left-radius: 3px;
  --mixin-DFNynPVngUO3_border-top-right-radius: 3px;
  --mixin-DFNynPVngUO3_font-family: "Inconsolata";
  --mixin-DFNynPVngUO3_padding-bottom: 1px;
  --mixin-DFNynPVngUO3_padding-left: 4px;
  --mixin-DFNynPVngUO3_padding-right: 4px;
  --mixin-DFNynPVngUO3_padding-top: 1px;
  --mixin-DFNynPVngUO3_white-space: pre-wrap;
  --mixin-bIssre9tiaWC_border-left-color: #dddddd;
  --mixin-bIssre9tiaWC_border-left-style: solid;
  --mixin-bIssre9tiaWC_border-left-width: 3px;
  --mixin-bIssre9tiaWC_color: #888888;
  --mixin-bIssre9tiaWC_padding-left: 10px;
  --mixin-bIssre9tiaWC_white-space: pre-wrap;
  --mixin-B6EBsRgkmOIq_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-B6EBsRgkmOIq_border-bottom-color: #dddddd;
  --mixin-B6EBsRgkmOIq_border-bottom-style: solid;
  --mixin-B6EBsRgkmOIq_border-bottom-width: 1px;
  --mixin-B6EBsRgkmOIq_border-left-color: #dddddd;
  --mixin-B6EBsRgkmOIq_border-left-style: solid;
  --mixin-B6EBsRgkmOIq_border-left-width: 1px;
  --mixin-B6EBsRgkmOIq_border-right-color: #dddddd;
  --mixin-B6EBsRgkmOIq_border-right-style: solid;
  --mixin-B6EBsRgkmOIq_border-right-width: 1px;
  --mixin-B6EBsRgkmOIq_border-top-color: #dddddd;
  --mixin-B6EBsRgkmOIq_border-top-style: solid;
  --mixin-B6EBsRgkmOIq_border-top-width: 1px;
  --mixin-B6EBsRgkmOIq_border-bottom-left-radius: 3px;
  --mixin-B6EBsRgkmOIq_border-bottom-right-radius: 3px;
  --mixin-B6EBsRgkmOIq_border-top-left-radius: 3px;
  --mixin-B6EBsRgkmOIq_border-top-right-radius: 3px;
  --mixin-B6EBsRgkmOIq_font-family: "Inconsolata";
  --mixin-B6EBsRgkmOIq_padding-bottom: 3px;
  --mixin-B6EBsRgkmOIq_padding-left: 6px;
  --mixin-B6EBsRgkmOIq_padding-right: 6px;
  --mixin-B6EBsRgkmOIq_padding-top: 3px;
  --mixin-B6EBsRgkmOIq_white-space: pre-wrap;
  --mixin-29yvwhaNntfb_display: flex;
  --mixin-29yvwhaNntfb_flex-direction: column;
  --mixin-29yvwhaNntfb_align-items: stretch;
  --mixin-29yvwhaNntfb_justify-content: flex-start;
  --mixin-29yvwhaNntfb_list-style-position: outside;
  --mixin-29yvwhaNntfb_padding-left: 40px;
  --mixin-29yvwhaNntfb_position: relative;
  --mixin-29yvwhaNntfb_list-style-type: disc;
  --mixin-29yvwhaNntfb_white-space: pre-wrap;
  --mixin-WJrt5cEBHQ4p_display: flex;
  --mixin-WJrt5cEBHQ4p_flex-direction: column;
  --mixin-WJrt5cEBHQ4p_align-items: stretch;
  --mixin-WJrt5cEBHQ4p_justify-content: flex-start;
  --mixin-WJrt5cEBHQ4p_list-style-position: outside;
  --mixin-WJrt5cEBHQ4p_padding-left: 40px;
  --mixin-WJrt5cEBHQ4p_position: relative;
  --mixin-WJrt5cEBHQ4p_list-style-type: decimal;
  --mixin-WJrt5cEBHQ4p_white-space: pre-wrap;
  --mixin-7TdPK6xMAUF7_color: #000000;
  --mixin-7TdPK6xMAUF7_font-size: 20px;
  --mixin-7TdPK6xMAUF7_font-weight: 600;
  --mixin-7TdPK6xMAUF7_line-height: 1.5;
  --mixin-7TdPK6xMAUF7_white-space: pre-wrap;
  --mixin-5ujyJYVfENLV_color: #000000;
  --mixin-5ujyJYVfENLV_font-size: 16px;
  --mixin-5ujyJYVfENLV_font-weight: 600;
  --mixin-5ujyJYVfENLV_line-height: 1.5;
  --mixin-5ujyJYVfENLV_white-space: pre-wrap;
  --mixin-BFj02RrNfHc3_color: #3291ff;
  --mixin-BFj02RrNfHc3_white-space: pre-wrap;
  --mixin-OEnpfw6hKNMO_white-space: pre-wrap;
  --mixin-MsM9UJFzul2T_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-G49mVgQ1XY56_font-family);
  font-size: var(--mixin-G49mVgQ1XY56_font-size);
  font-weight: var(--mixin-G49mVgQ1XY56_font-weight);
  font-style: var(--mixin-G49mVgQ1XY56_font-style);
  color: var(--mixin-G49mVgQ1XY56_color);
  text-align: var(--mixin-G49mVgQ1XY56_text-align);
  text-transform: var(--mixin-G49mVgQ1XY56_text-transform);
  line-height: var(--mixin-G49mVgQ1XY56_line-height);
  letter-spacing: var(--mixin-G49mVgQ1XY56_letter-spacing);
  white-space: var(--mixin-G49mVgQ1XY56_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-FxHbl0YY4tcZ_color);
  font-weight: var(--mixin-FxHbl0YY4tcZ_font-weight);
  font-size: var(--mixin-FxHbl0YY4tcZ_font-size);
  line-height: var(--mixin-FxHbl0YY4tcZ_line-height);
  letter-spacing: var(--mixin-FxHbl0YY4tcZ_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-a7iPiaQOLU11_color);
  font-size: var(--mixin-a7iPiaQOLU11_font-size);
  font-weight: var(--mixin-a7iPiaQOLU11_font-weight);
  letter-spacing: var(--mixin-a7iPiaQOLU11_letter-spacing);
  line-height: var(--mixin-a7iPiaQOLU11_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-A5kyPylK7DdD_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-D-Pztd-CvwGi_color);
  font-size: var(--mixin-D-Pztd-CvwGi_font-size);
  font-weight: var(--mixin-D-Pztd-CvwGi_font-weight);
  line-height: var(--mixin-D-Pztd-CvwGi_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-m1o8lBwfaK9v_color);
  font-size: var(--mixin-m1o8lBwfaK9v_font-size);
  font-weight: var(--mixin-m1o8lBwfaK9v_font-weight);
  line-height: var(--mixin-m1o8lBwfaK9v_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-DFNynPVngUO3_font-family);
  border-radius: var(--mixin-DFNynPVngUO3_border-top-left-radius)
    var(--mixin-DFNynPVngUO3_border-top-right-radius)
    var(--mixin-DFNynPVngUO3_border-bottom-right-radius)
    var(--mixin-DFNynPVngUO3_border-bottom-left-radius);
  padding: var(--mixin-DFNynPVngUO3_padding-top)
    var(--mixin-DFNynPVngUO3_padding-right)
    var(--mixin-DFNynPVngUO3_padding-bottom)
    var(--mixin-DFNynPVngUO3_padding-left);
  border-top: var(--mixin-DFNynPVngUO3_border-top-width)
    var(--mixin-DFNynPVngUO3_border-top-style)
    var(--mixin-DFNynPVngUO3_border-top-color);
  border-right: var(--mixin-DFNynPVngUO3_border-right-width)
    var(--mixin-DFNynPVngUO3_border-right-style)
    var(--mixin-DFNynPVngUO3_border-right-color);
  border-bottom: var(--mixin-DFNynPVngUO3_border-bottom-width)
    var(--mixin-DFNynPVngUO3_border-bottom-style)
    var(--mixin-DFNynPVngUO3_border-bottom-color);
  border-left: var(--mixin-DFNynPVngUO3_border-left-width)
    var(--mixin-DFNynPVngUO3_border-left-style)
    var(--mixin-DFNynPVngUO3_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-bIssre9tiaWC_color);
  padding-left: var(--mixin-bIssre9tiaWC_padding-left);
  border-left: var(--mixin-bIssre9tiaWC_border-left-width)
    var(--mixin-bIssre9tiaWC_border-left-style)
    var(--mixin-bIssre9tiaWC_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-B6EBsRgkmOIq_font-family);
  border-radius: var(--mixin-B6EBsRgkmOIq_border-top-left-radius)
    var(--mixin-B6EBsRgkmOIq_border-top-right-radius)
    var(--mixin-B6EBsRgkmOIq_border-bottom-right-radius)
    var(--mixin-B6EBsRgkmOIq_border-bottom-left-radius);
  padding: var(--mixin-B6EBsRgkmOIq_padding-top)
    var(--mixin-B6EBsRgkmOIq_padding-right)
    var(--mixin-B6EBsRgkmOIq_padding-bottom)
    var(--mixin-B6EBsRgkmOIq_padding-left);
  border-top: var(--mixin-B6EBsRgkmOIq_border-top-width)
    var(--mixin-B6EBsRgkmOIq_border-top-style)
    var(--mixin-B6EBsRgkmOIq_border-top-color);
  border-right: var(--mixin-B6EBsRgkmOIq_border-right-width)
    var(--mixin-B6EBsRgkmOIq_border-right-style)
    var(--mixin-B6EBsRgkmOIq_border-right-color);
  border-bottom: var(--mixin-B6EBsRgkmOIq_border-bottom-width)
    var(--mixin-B6EBsRgkmOIq_border-bottom-style)
    var(--mixin-B6EBsRgkmOIq_border-bottom-color);
  border-left: var(--mixin-B6EBsRgkmOIq_border-left-width)
    var(--mixin-B6EBsRgkmOIq_border-left-style)
    var(--mixin-B6EBsRgkmOIq_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-29yvwhaNntfb_display);
  flex-direction: var(--mixin-29yvwhaNntfb_flex-direction);
  align-items: var(--mixin-29yvwhaNntfb_align-items);
  justify-content: var(--mixin-29yvwhaNntfb_justify-content);
  list-style-position: var(--mixin-29yvwhaNntfb_list-style-position);
  padding-left: var(--mixin-29yvwhaNntfb_padding-left);
  position: var(--mixin-29yvwhaNntfb_position);
  list-style-type: var(--mixin-29yvwhaNntfb_list-style-type);
  column-gap: var(--mixin-29yvwhaNntfb_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-WJrt5cEBHQ4p_display);
  flex-direction: var(--mixin-WJrt5cEBHQ4p_flex-direction);
  align-items: var(--mixin-WJrt5cEBHQ4p_align-items);
  justify-content: var(--mixin-WJrt5cEBHQ4p_justify-content);
  list-style-position: var(--mixin-WJrt5cEBHQ4p_list-style-position);
  padding-left: var(--mixin-WJrt5cEBHQ4p_padding-left);
  position: var(--mixin-WJrt5cEBHQ4p_position);
  list-style-type: var(--mixin-WJrt5cEBHQ4p_list-style-type);
  column-gap: var(--mixin-WJrt5cEBHQ4p_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-7TdPK6xMAUF7_color);
  font-size: var(--mixin-7TdPK6xMAUF7_font-size);
  font-weight: var(--mixin-7TdPK6xMAUF7_font-weight);
  line-height: var(--mixin-7TdPK6xMAUF7_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-5ujyJYVfENLV_color);
  font-size: var(--mixin-5ujyJYVfENLV_font-size);
  font-weight: var(--mixin-5ujyJYVfENLV_font-weight);
  line-height: var(--mixin-5ujyJYVfENLV_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-BFj02RrNfHc3_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
