.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-mCpZZWj8Gtxo);
  font-family: var(--token-NqUp9UrqY3Gj);
  font-size: var(--token-HkSudWgi1gPE);
  line-height: var(--token-oH1x8W4831Qk);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
