.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-8B1REFekoKbI);
  color: var(--token-Uo1mx7Mi8-gI);
  font-family: var(--token-NqUp9UrqY3Gj);
  font-size: var(--token-HkSudWgi1gPE);
  line-height: var(--token-oH1x8W4831Qk);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-jT_yZ8eiXxvF);
  padding: var(--token-jT_yZ8eiXxvF) var(--token-KAuriprMRACF);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-6vg8Lh9hkzkU);
  outline-offset: 1px;
  outline-color: var(--token-tFtgN2EQoETh);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-DAJ5nBiRPkKW);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-S7AiZKqQaajT);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-DAJ5nBiRPkKW);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-1k4WIsOyOXH5);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-1k4WIsOyOXH5);
}
