.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__mVNsj {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mVNsj {
    display: flex;
  }
}
.glo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ozK3T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nOnnl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1__mYx0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  font-size: var(--token-7z5Kw5B89TZR);
  text-align: center;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__tCplA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ludMq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: center;
  margin-top: 20px;
  min-width: 0;
  border-width: var(--token-6vg8Lh9hkzkU);
  border-style: dotted;
}
.freeBox___12JN3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1__nveK2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  font-size: var(--token-7z5Kw5B89TZR);
  text-align: center;
  min-width: 0;
}
.freeBox__j7Es {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1__lYuhL {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  font-size: var(--token-7z5Kw5B89TZR);
  text-align: center;
  min-width: 0;
}
.freeBox__pHhzZ {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1__oViD {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  font-size: var(--token-7z5Kw5B89TZR);
  text-align: center;
  min-width: 0;
}
.freeBox__azxiq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1__hCdG4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  font-size: var(--token-7z5Kw5B89TZR);
  text-align: center;
  min-width: 0;
}
.button__arhMh:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  margin-top: 20px;
}
.svg__hdJ9X {
  position: relative;
  height: 1em;
}
.text__jxNxV {
  white-space: pre;
  font-family: "IRANSansX";
}
.svg__bu4Fl {
  position: relative;
  height: 1em;
}
.freeBox__l88BM {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l88BM {
    display: flex;
  }
}
.h1__upZcT {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  text-align: center;
  font-size: var(--token-hYndcje43OGL);
  min-width: 0;
}
.h1__iL6L8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "IRANSansX";
  font-size: var(--token-7z5Kw5B89TZR);
  text-align: right;
  margin-top: 60px;
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField___1ScXy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  text-align: right;
}
.text__gpc6F {
  font-family: "IRANSansX";
  text-align: left;
  margin-left: 276px;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__ni1Zj:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  text-align: right;
  min-width: 0;
}
.text__euMrR {
  font-family: "IRANSansX";
  margin-left: 217px;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___16MTf:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  text-align: left;
  min-width: 0;
}
.text__hKzJ6 {
  font-family: "IRANSansX";
  max-width: 133px;
  width: 100%;
  margin-left: 260px;
  min-width: 0;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__vkvz6:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  text-align: left;
  min-width: 0;
}
.text__v01G {
  font-family: "IRANSansX";
  text-align: right;
  margin-left: 270px;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__sv8YZ:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__ntzPw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__e2Xbg:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__rjulY:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__o4Rro:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__nW7Jw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input10:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__uoCd:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input11:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__x5HpW:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input12:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__pjpW:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input13:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__wy7Fb:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input14:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__dQZx8:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input15:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__xkCs:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input16:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___9Lul0:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input17:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__nTaj:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input18:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__hw7Wy:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input19:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__zbZlT:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input20:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__cYxHl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input21:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__dcm2Q:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input22:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___6Xzt:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input23:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__hzVoF:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "IRANSansX";
}
.text___1CZqt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
