.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-H4DSnrd6Gty7);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.slotTargetLabel {
  text-align: center;
}
.freeBox__j8VrM {
  display: flex;
  flex-direction: column;
}
.freeBox___1VNro {
  flex-direction: row;
  position: absolute;
  height: var(--token-1k4WIsOyOXH5);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-jT_yZ8eiXxvF) var(--token-KAuriprMRACF);
}
.freeBoxiconStart___1VNrOg7UWt {
  display: flex;
}
.slotTargetStart {
  color: var(--token-mCpZZWj8Gtxo);
}
.svg__hrhCv {
  position: relative;
  height: 1em;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  align-self: auto;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__bflSj {
  height: var(--token-1k4WIsOyOXH5);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-jT_yZ8eiXxvF) var(--token-KAuriprMRACF);
}
.freeBoxiconEnd__bflSjGTjfZ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-mCpZZWj8Gtxo);
}
.svg__cxAzr {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
