.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-Uo1mx7Mi8-gI);
  font-family: var(--token-NqUp9UrqY3Gj);
  font-size: var(--token-HkSudWgi1gPE);
  line-height: var(--token-oH1x8W4831Qk);
  width: 100%;
  row-gap: var(--token-wtOsEEQhbQlZ);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox___7PZkj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  column-gap: var(--token-Jypu09L-GXwN);
}
.text___8RlXr {
  position: relative;
}
.freeBox__wjsir {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-jT_yZ8eiXxvF);
  padding-bottom: var(--token-jT_yZ8eiXxvF);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-IQrWTlRLMCrK);
  height: var(--token-Jypu09L-GXwN);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-Jypu09L-GXwN);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__sj4P4:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-H4DSnrd6Gty7);
}
.foreground {
  display: block;
  background: var(--token-tFtgN2EQoETh);
  height: var(--token-Jypu09L-GXwN);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
