.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-tFtgN2EQoETh);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Jypu09L-GXwN);
  font-family: var(--token-NqUp9UrqY3Gj);
  font-size: var(--token-HkSudWgi1gPE);
  line-height: var(--token-oH1x8W4831Qk);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-jT_yZ8eiXxvF);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-6vg8Lh9hkzkU);
  outline-offset: 1px;
  outline-color: var(--token-tFtgN2EQoETh);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-ZPiiUk5pxpaL);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Lf6K6SvHnfWN);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-9rkyynCSyMwh);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-DLiTWt68I4nY);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-7puNSoniThtC);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-xlrt9Teq0HCF);
  font-size: var(--token-m0Jruh6M4sDK);
  column-gap: var(--token-6vg8Lh9hkzkU);
  row-gap: 0px;
  border-radius: var(--token-H4DSnrd6Gty7);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-m0Jruh6M4sDK);
  line-height: var(--token-xlrt9Teq0HCF);
  column-gap: var(--token-H4DSnrd6Gty7);
  row-gap: 0px;
  border-radius: var(--token-H4DSnrd6Gty7);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-PvKgCMhXmykU);
  line-height: var(--token-azXOEe5V_2-R);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-PvKgCMhXmykU);
  line-height: var(--token-azXOEe5V_2-R);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-gFMCCgX0mHf5);
  border-radius: var(--token-jT_yZ8eiXxvF);
}
.softBackgroundcolor_neutral {
  background: var(--token-S6Tc2sou_N8x);
}
.softBackgroundcolor_muted {
  background: var(--token-DAJ5nBiRPkKW);
}
.softBackgroundcolor_success {
  background: var(--token-W7NqYZQ2cEEr);
}
.softBackgroundcolor_warning {
  background: var(--token-As9oVfB8SkoD);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-8se_IK54UR5S);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-jT_yZ8eiXxvF);
  border: 0px solid var(--token-dhqM-JiXuUF0);
}
.bordercolor_neutral {
  border-color: var(--token-ZUJq_jSECXsr);
}
.bordercolor_muted {
  border-color: var(--token-QWhH9PwMrENC);
}
.bordercolor_success {
  border-color: var(--token-W9nD_foj6Czb);
}
.bordercolor_warning {
  border-color: var(--token-PtukRiWzTvEk);
}
.bordercolor_errorDestructive {
  border-color: var(--token-E828NdG8MJuP);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-jT_yZ8eiXxvF);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-qtZy_Bo8mi2p);
}
.root[data-disabled] .interactionEffect {
  background: var(--token--P1JVJUqqN-s);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-smcxkeUmJOG3);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___41KcR {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-jT_yZ8eiXxvF);
  min-width: 0;
  min-height: 0;
  padding: var(--token-jT_yZ8eiXxvF) var(--token-KAuriprMRACF);
}
.freeBoxsize_extraSmall___41KcRtShws {
  padding: var(--token-H4DSnrd6Gty7) var(--token-jT_yZ8eiXxvF);
}
.freeBoxsize_small___41KcRnB2Mv {
  padding: var(--token-jT_yZ8eiXxvF) var(--token-Jypu09L-GXwN);
}
.freeBoxsize_large___41KcRnRzFc {
  padding-top: var(--token-H4DSnrd6Gty7);
  padding-bottom: var(--token-H4DSnrd6Gty7);
}
.freeBoxsize_extraLarge___41KcRKh1QW {
  padding-left: var(--token-wtOsEEQhbQlZ);
  padding-right: var(--token-wtOsEEQhbQlZ);
}
.freeBoxroundedFull___41KcRpppRi {
  padding-right: var(--token-wtOsEEQhbQlZ);
  padding-left: var(--token-wtOsEEQhbQlZ);
}
.freeBox__uRXt {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__uRXt617HL {
  display: flex;
}
.slotTargetStart {
  color: var(--token-dgt69HH1Usg7);
}
.slotTargetStartcolor_neutral {
  color: var(--token-0v8VoeuO_gfA);
}
.slotTargetStartcolor_muted {
  color: var(--token-e3r7qUvncrtR);
}
.slotTargetStartcolor_success {
  color: var(--token-6psPc_DV_bwT);
}
.slotTargetStartcolor_warning {
  color: var(--token-9CERVWlCmPGJ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-LUPcmQNAz2KM);
}
.slotTargetStarttype_soft {
  color: var(--token-0iptEQZtPc5T);
}
.slotTargetStarttype_bordered {
  color: var(--token-0iptEQZtPc5T);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-m0Jruh6M4sDK);
}
.slotTargetStartsize_small {
  font-size: var(--token-m0Jruh6M4sDK);
}
.slotTargetStartsize_large {
  font-size: var(--token-PvKgCMhXmykU);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-PvKgCMhXmykU);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-uuz4f4e36JSW);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-uuz4f4e36JSW);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-5mIK7OR9dgdi);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-5mIK7OR9dgdi);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token--GnlB4QZBYDZ);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token--GnlB4QZBYDZ);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-q_d34pwMB91S);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-q_d34pwMB91S);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-20Azr1xtSaqw);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-20Azr1xtSaqw);
}
.svg___5PpJ4 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-dgt69HH1Usg7);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-0v8VoeuO_gfA);
}
.slotTargetLabelcolor_muted {
  color: var(--token-e3r7qUvncrtR);
}
.slotTargetLabelcolor_success {
  color: var(--token-6psPc_DV_bwT);
}
.slotTargetLabelcolor_warning {
  color: var(--token-9CERVWlCmPGJ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-LUPcmQNAz2KM);
}
.slotTargetLabeltype_soft {
  color: var(--token-0iptEQZtPc5T);
}
.slotTargetLabeltype_bordered {
  color: var(--token-0iptEQZtPc5T);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-uuz4f4e36JSW);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-5mIK7OR9dgdi);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-uuz4f4e36JSW);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token--GnlB4QZBYDZ);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-5mIK7OR9dgdi);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-q_d34pwMB91S);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token--GnlB4QZBYDZ);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-20Azr1xtSaqw);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-q_d34pwMB91S);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-20Azr1xtSaqw);
}
.text___7YjgJ {
  white-space: pre;
}
.freeBox___1DXw8 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___1DXw8MHat2 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-dgt69HH1Usg7);
}
.slotTargetEndcolor_neutral {
  color: var(--token-0v8VoeuO_gfA);
}
.slotTargetEndcolor_muted {
  color: var(--token-e3r7qUvncrtR);
}
.slotTargetEndcolor_success {
  color: var(--token-6psPc_DV_bwT);
}
.slotTargetEndcolor_warning {
  color: var(--token-9CERVWlCmPGJ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-LUPcmQNAz2KM);
}
.slotTargetEndtype_soft {
  color: var(--token-0iptEQZtPc5T);
}
.slotTargetEndtype_bordered {
  color: var(--token-0iptEQZtPc5T);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-m0Jruh6M4sDK);
}
.slotTargetEndsize_small {
  font-size: var(--token-m0Jruh6M4sDK);
}
.slotTargetEndsize_large {
  font-size: var(--token-PvKgCMhXmykU);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-PvKgCMhXmykU);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-uuz4f4e36JSW);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-uuz4f4e36JSW);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-5mIK7OR9dgdi);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-5mIK7OR9dgdi);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token--GnlB4QZBYDZ);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token--GnlB4QZBYDZ);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-q_d34pwMB91S);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-q_d34pwMB91S);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-20Azr1xtSaqw);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-20Azr1xtSaqw);
}
.svg__yyRfu {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
